@media print, (max-width: 767px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --font_size_title: 26px;
    }



    /*------------
        Notice
    ------------*/
    .notice
    {
        font-size: 15px;

        padding: 12px 0;
    }



    /*----------
        Tabs
    ----------*/
    .tabs
    {
        display: block;
        overflow: auto;

        width: calc(100% + 48px);
        margin: 0 -24px 20px;
        padding: 0 24px;

        white-space: nowrap;

        scrollbar-color: transparent transparent !important;
        scrollbar-width: thin !important;
    }

    .tabs::-webkit-scrollbar
    {
        width: 0 !important;
        height: 0 !important;

        background-color: transparent !important;
    }

    .tabs::-webkit-scrollbar-thumb
    {
        background-color: transparent !important;
    }


    .tabs button
    {
        display: inline-block;

        margin: 0;

        vertical-align: top;
        white-space: normal;
    }

    .tabs button + button
    {
        margin-left: 8px;
    }



    /*------------------
        Mob all link
    ------------------*/
    .mob_all_link
    {
        display: flex;
    }



    /*------------
        Header
    ------------*/
    header
    {
        height: 276px;
    }

    header .bottom
    {
        padding-bottom: 32px;
    }


    header .contacts
    {
        position: absolute;
        z-index: 5;
        top: 124px;
        right: 24px;

        margin: 0;
    }

    header .contacts .phone
    {
        font-size: 16px;

        margin-top: 8px;
    }


    header .links > * + *
    {
        margin-left: 20px;
    }

    header .links a,
    header .links .mob_feedback_btn
    {
        width: 32px;
        height: 40px;
    }

    header .links .mob_feedback_btn .icon
    {
        width: 26px;
        height: 24px;
    }

    header .links .compare_link .icon
    {
        width: 28px;
        height: 20px;
    }

    header .links .favorite_link .icon
    {
        width: 27px;
        height: 26px;
    }

    header .links .cart_link .icon
    {
        width: 25px;
        height: 26px;
    }

    header .links .count
    {
        font-size: 13px;
        line-height: 20px;

        right: -8px;
    }


    header .search
    {
        width: 100%;
        margin-top: 12px;
    }

    header .search .title
    {
        display: none !important;
    }

    header .search .tags a
    {
        font-size: 10px;
        line-height: 14px;
    }



    /*----------
        Menu
    ----------*/
    #menu .cols .col
    {
        width: 100%;
        max-width: 100%;
    }


    #menu .cols .col:last-child
    {
        display: block;

        width: 100%;
    }

    #menu .cols .col:last-child > *
    {
        width: 100%;
        max-width: 100%;
    }

    #menu .cols .col:last-child > *:nth-child(2)
    {
        margin-top: 40px;
    }


    #menu .alphabet .item
    {
        width: calc(50% - 24px);
    }



    /*---------------
        Page head
    ---------------*/
    .page_head
    {
        padding: 32px 0;
    }


    .page_title
    {
        font-size: 32px;
    }



    /*----------------
        Block head
    ----------------*/
    .block_head .all_link
    {
        display: none;
    }



    /*------------------
        Form elements
    ------------------*/



    /*----------------
        Typography
    ----------------*/



    /*-----------------
        Main slider
    -----------------*/
    .first_section header
    {
        height: 339px;
    }

    .first_section header .bottom
    {
        padding: 24px 0;
    }

    .first_section header .contacts
    {
        top: 148px;
    }


    .first_section > .cont
    {
        padding-top: 380px;
        padding-bottom: 60px;
    }


    .first_section .services
    {
        display: block;
        overflow: auto;

        width: calc(100% + 48px);
        margin: 0 -24px;
        padding: 0 24px;

        white-space: nowrap;

        scrollbar-color: transparent transparent;
        scrollbar-width: thin;
    }

    .first_section .services::-webkit-scrollbar
    {
        width: 0;
        height: 0;

        background-color: transparent;
    }

    .first_section .services::-webkit-scrollbar-thumb
    {
        background-color: transparent;
    }


    .first_section .services .service
    {
        display: inline-block;

        width: 180px;
        margin-bottom: 0;
        margin-left: 0;

        vertical-align: top;
        white-space: normal;
    }

    .first_section .services .service + .service
    {
        margin-left: 12px;
    }



    /*-----------------
        About block
    -----------------*/
    .about_block
    {
        padding: 60px 0;
    }


    .about_block .data .title
    {
        font-size: 28px;
    }

    .about_block .data .sub_title
    {
        font-size: 17px;
        line-height: 21px;
    }



    /*--------------
        Articles
    --------------*/
    .articles .row
    {
        margin-left: 0;
    }

    .articles .row > *
    {
        width: 100%;
        margin-left: 0;
    }

    .articles .row > *:nth-child(2) ~ *
    {
        display: block;
    }



    /*-------------
        Banners
    -------------*/
    .banners .swiper-container
    {
        padding-bottom: 33px;
    }

    .banners .swiper-button-next,
    .banners .swiper-button-prev
    {
        display: none;
    }

    .banners .swiper-pagination
    {
        display: flex;
    }


    .banners .banner
    {
        height: 240px;
        padding: 40px 40px 24px;
    }


    .banners .banner .info
    {
        color: #fff;

        width: 100%;

        text-align: center;

        justify-content: center;
    }


    .banners .banner .name
    {
        font-size: 26px;
    }


    .banners .banner .price
    {
        font-size: 22px;

        margin-left: 32px;
    }

    .banners .banner .price .sticker
    {
        font-size: 10px;
        line-height: 22px;

        top: -28px;
        left: 0;

        height: 20px;
        margin-left: 0;
        padding: 0 8px;
    }


    .banners .banner .desc
    {
        margin-top: 12px;
    }


    .banners .banner .bg
    {
        background-position: 0 50%;
    }

    .banners .banner .bg:after
    {
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        content: '';

        background: linear-gradient(0deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5));
    }



    /*-------------------
        Products head
    -------------------*/
    .products_head .views
    {
        display: none;
    }



    /*--------------
        Products
    --------------*/
    .products .block_head .title.mini
    {
        max-width: 100%;
    }


    .products .row,
    .content .products .row
    {
        --products_count: 2;
    }

    .products .row > *,
    .content .products .row > *
    {
        width: calc(50% - 16px);
    }


    .products .product .sticker
    {
        top: 11px;
        left: -1px;
    }

    .products .product .thumb
    {
        height: 160px;
    }

    .products .product .name
    {
        font-size: 16px;
        line-height: 22px;
    }



    /*------------
        Brands
    ------------*/
    .brands .row > *
    {
        width: calc(33.333% - 24px);
    }

    .brands .row > *:nth-child(3) ~ *
    {
        display: none;
    }



    /*------------
        Why we
    ------------*/
    .why_we .row
    {
        margin-left: 0;
    }

    .why_we .row > *
    {
        width: 100%;
        margin-left: 0;
    }



    /*-------------
        Experts
    -------------*/
    .experts .row > *
    {
        width: 50%;
    }



    /*------------------
        Developments
    ------------------*/
    .developments .row
    {
        margin-bottom: -40px;
        margin-left: 0;
    }

    .developments .row > *
    {
        width: 100%;
        margin-bottom: 40px;
        margin-left: 0;
    }

    .developments .row > *:nth-child(2) ~ *
    {
        display: block;
    }


    .developments .item .thumb
    {
        margin-bottom: 20px;
    }



    /*---------------
        Geography
    ---------------*/
    .geography
    {
        padding: 60px 0;
    }



    /*-----------
        Certs
    -----------*/
    .certs .row > *
    {
        width: calc(33.333% - 24px);
    }



    /*------------------
        Product info
    ------------------*/
    .product_info .data
    {
        margin-top: 24px;
    }


    .product_info .product_name
    {
        font-size: 28px;
    }


    .product_info .desc
    {
        font-size: 15px;
        line-height: 21px;
    }


    .product_info .btns .btn + .btn
    {
        margin-left: 20px;
    }

    .product_info .btns .compare_btn .icon
    {
        width: 28px;
        height: 20px;
    }

    .product_info .btns .favorite_btn .icon
    {
        width: 28px;
        height: 27px;
    }

    .product_info .btns .share_btn .icon
    {
        width: 23px;
        height: 25px;
    }


    .product_info .buy
    {
        margin-top: 12px;
        padding: 24px;
    }


    .product_info .buy .price
    {
        width: 100%;

        text-align: center;
    }

    .product_info .buy .price + *
    {
        width: 100%;
        margin-top: 12px;
    }


    .product_info .buy .buy_btn
    {
        width: 100%;
    }

    .product_info .buy .quike_buy_btn
    {
        width: 100%;
        margin-top: 12px;
        margin-left: 0;
    }


    .product_info .pluses
    {
        font-size: 14px;
        line-height: 20px;
    }

    .product_info .pluses > *
    {
        padding-left: 40px;
    }

    .product_info .pluses br
    {
        display: none;
    }


    .product_info .images .big
    {
        width: 100%;
    }

    .product_info .images .big .slide a
    {
        height: 420px;
    }

    .product_info .images .big .swiper-button-next,
    .product_info .images .big .swiper-button-prev
    {
        display: flex;
    }


    .product_info .images .thumbs.swiper-container
    {
        display: none;
    }



    /*------------------
        Product head
    ------------------*/
    .product_head .name
    {
        font-size: 20px;
    }


    .product_head .anchors
    {
        display: none;
    }


    .product_head .download_link
    {
        margin-top: 0;
    }



    /*----------------------
        Product overview
    ----------------------*/
    .product_overview
    {
        padding: 60px 0;
    }


    .product_overview .data
    {
        width: 100%;
    }


    .product_overview .title
    {
        font-size: 28px;
    }


    .product_overview .sub_title
    {
        font-size: 18px;
        line-height: 24px;
    }


    .product_overview .desc
    {
        font-size: 14px;
        line-height: 20px;

        margin-top: 28px;
    }



    /*------------------
        Has question
    ------------------*/
    .has_question .manager .photo
    {
        width: 132px;
        height: 132px;
    }

    .has_question .manager .photo + div
    {
        width: calc(100% - 160px);
    }


    .has_question .manager .contacts
    {
        display: block;
    }

    .has_question .manager .contacts > * + *
    {
        margin-top: 4px;
        margin-left: 0;
    }



    /*-----------------------------
        Educational center info
    -----------------------------*/
    .educational_center_info .head .title
    {
        font-size: 28px;
    }

    .educational_center_info .head .sub_title
    {
        font-size: 18px;
        line-height: 24px;
    }

    .educational_center_info .head .desc
    {
        font-size: 14px;
        line-height: 20px;

        margin-top: 28px;
    }



    /*-------------------
        Services list
    -------------------*/
    .services_list .row
    {
        margin-left: 0;
    }

    .services_list .row > *,
    .services_list .row > *:last-child
    {
        width: 100%;
        max-width: 100%;
        margin-left: 0;
    }


    .services_list .service .name
    {
        font-size: 19px;

        min-height: 52px;
        padding-left: 72px;
    }

    .services_list .service .icon
    {
        max-width: 52px;
        max-height: 52px;
    }



    /*-------------------
        Contacts info
    -------------------*/
    .contacts_info .data .company
    {
        font-size: 26px;

        width: 100%;
    }


    .contacts_info .data .download_link
    {
        margin-top: 12px;
        margin-left: 0;
    }


    .contacts_info .info > *
    {
        width: 100%;
    }

    .contacts_info .info > * + *,
    .contacts_info .info > *:last-child
    {
        margin-top: 28px;
    }


    .contacts_info .info .title
    {
        margin-bottom: 12px;
    }


    .contacts_info .info .location > *
    {
        display: block;
    }

    .contacts_info .info .location .name
    {
        width: auto;
        padding-right: 0;
    }

    .contacts_info .info .location .val
    {
        width: auto;
    }


    .contacts_info .map
    {
        height: 320px;
    }



    /*----------
        Team
    ----------*/
    .team .row
    {
        margin-bottom: 20px;
        margin-left: 0;
    }

    .team .row > *
    {
        width: 100%;
        margin-bottom: 20px;
        margin-left: 0;
    }


    .team .person
    {
        padding: 23px;
    }


    .team .person .photo
    {
        width: 120px;
        height: 120px;
        margin-bottom: 20px;
    }

    .team .person .name
    {
        font-size: 18px;
        line-height: 22px;
    }

    .team .person .link
    {
        margin-top: 12px;
    }

    .team .person .location,
    .team .person .link a
    {
        font-size: 14px;
        line-height: 18px;
    }

    .team .person .link .icon
    {
        margin-left: 4px;
    }


    .team .person .contacts
    {
        font-size: 14px;
        line-height: 20px;
    }



    /*-------------------------
        Service center info
    -------------------------*/
    .service_center_info .head .title
    {
        font-size: 28px;
    }

    .service_center_info .head .desc
    {
        font-size: 14px;
        line-height: 20px;

        margin-top: 28px;
    }



    /*------------------
        Catalog info
    ------------------*/
    .catalog_info .head .title
    {
        font-size: 28px;
    }


    .catalog_info .head .download_link
    {
        margin-top: 24px;
        margin-left: 0;
    }


    .catalog_info .head .desc
    {
        font-size: 14px;
        line-height: 20px;

        margin-top: 28px;
    }



    /*----------------
        Brand info
    ----------------*/
    .brand_info
    {
        padding-top: 24px;
    }


    .brand_info .breadcrumbs
    {
        margin-bottom: 28px;
    }


    .brand_info .brand_name
    {
        font-size: 30px;
    }


    .brand_info .desc
    {
        font-size: 18px;
    }



    /*------------
        Footer
    ------------*/
    footer .menu
    {
        margin-bottom: 0;

        column-count: 2;
    }


    footer .phone
    {
        position: relative;
        top: 0;
        right: 0;

        width: 100%;
        margin-top: 28px;

        order: 3;
    }


    footer .text
    {
        width: 100%;
        margin-top: 20px;

        order: 2;
    }


    footer .typo
    {
        margin-top: 20px;

        order: 4;
    }


    footer .copyright
    {
        width: 100%;
        margin-top: 24px;

        order: 2;
    }


    footer .socials
    {
        width: 100%;

        order: 1;
        justify-content: space-between;
    }
}
