@media print, (max-width: 1279px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --font_size: 15px;
        --font_size_title: 32px;
    }


    html.custom_scroll ::-webkit-scrollbar
    {
        width: 5px;
        height: 5px;
    }



    .swiper-button-next
    {
        right: 12px;
    }

    .swiper-button-prev
    {
        left: 12px;
    }



    /*----------
        Tabs
    ----------*/
    .tabs
    {
        margin-bottom: 22px;
        margin-left: -12px;
    }


    .tabs button
    {
        font-size: 15px;
        line-height: 21px;

        height: auto;
        margin-bottom: 2px;
        margin-left: 12px;
        padding: 10px 16px 6px;
    }



    /*-----------------
        Search open
    -----------------*/
    .search_open header
    {
        position: fixed;

        height: 100% !important;
        min-height: -moz-available;
        min-height: -webkit-fill-available;
        min-height:         fill-available;
        max-height: 100% !important;
    }


    /*------------
        Header
    ------------*/
    header
    {
        height: 257px;
    }


    header .contacts
    {
        margin-left: 24px;
    }


    header .menu
    {
        width: 496px;
        margin-right: auto;
        margin-left: 8px;
    }

    header .menu > *
    {
        margin-left: 24px;
    }


    header .feedback_btn
    {
        display: none;
    }


    header .links > *.hied
    {
        display: block;
    }

    header .links > * + *
    {
        margin-left: 24px;
    }


    header .logo,
    header .logo img
    {
        width: 200px;
    }


    header .search
    {
        width: calc(100% - 240px);
        margin-top: 12px;
    }

    header .search form .input
    {
        font-size: 24px;

        height: 64px;
        padding-right: 72px;
    }

    header .search form .submit_btn
    {
        width: 64px;
        height: 64px;
    }


    header .search .tags
    {
        margin-top: 27px;
        margin-left: -12px;
    }

    header .search .tags > *
    {
        margin-left: 12px;
    }

    header .search .tags a
    {
        font-size: 12px;
        line-height: 18px;
    }



    /*----------
        Menu
    ----------*/
    #menu .cols .col
    {
        max-width: 300px;
    }


    #menu .cols .title
    {
        font-size: 18px;
        line-height: 24px;
    }


    #menu .cols .item + .item
    {
        margin-top: 40px;
    }


    #menu .cols .items a,
    #menu .alphabet .items a
    {
        font-size: 15px;
        line-height: 21px;
    }


    #menu .alphabet
    {
        margin-bottom: -40px;
        margin-left: -24px;
    }

    #menu .alphabet .item
    {
        width: calc(25% - 24px);
        margin-bottom: 40px;
        margin-left: 24px;
    }

    #menu .alphabet .letter
    {
        font-size: 20px;
    }



    /*---------------
        Page head
    ---------------*/
    .page_head
    {
        padding: 44px 0;
    }


    .breadcrumbs .sep
    {
        margin: 0 8px;
    }


    .page_title
    {
        font-size: 44px;
    }


    .page_head .btns
    {
        margin-top: 28px;
    }

    .page_head .btns .btn
    {
        font-size: 15px;
        line-height: 21px;
    }



    /*----------------
        Block head
    ----------------*/
    .block_head.big_m
    {
        margin-bottom: 28px;
    }


    .block_head .title
    {
        line-height: calc(var(--font_size_title) + 4px);
    }



    /*------------------
        Form elements
    ------------------*/



    /*----------------
        Typography
    ----------------*/
    .text_block
    {
        line-height: 23px;
    }



    /*-------------------
        First section
    -------------------*/
    .first_section > .cont
    {
        padding-top: 432px;
        padding-bottom: 72px;
    }


    .first_section header
    {
        height: 338px;
    }

    .first_section header .bottom
    {
        padding: 52px 0;
    }


    .first_section .services
    {
        margin-bottom: -16px;
        margin-left: -16px;
    }

    .first_section .services > *
    {
        width: calc(25% - 16px);
        margin-bottom: 16px;
        margin-left: 16px;
    }


    .first_section .services .service
    {
        font-size: 16px;
        line-height: 22px;

        min-height: 100px;
        padding: 20px 40px 20px 20px;
    }



    /*-----------------
        About block
    -----------------*/
    .about_block
    {
        margin-bottom: 64px;
        padding: 72px 0;
    }


    .about_block .data .title
    {
        font-size: 36px;
    }

    .about_block .data .sub_title
    {
        font-size: 24px;
        line-height: 26px;
    }


    .about_block .data
    {
        width: 100%;
        max-width: 100%;
    }

    .about_block .data .desc
    {
        font-size: 16px;
        line-height: 22px;

        width: calc(100% - 480px);
        margin-top: 28px;
    }


    .about_block .presentation
    {
        width: 440px;
        margin-top: -252px;
    }



    /*--------------
        Articles
    --------------*/
    .articles
    {
        margin-bottom: 64px;
    }


    .articles .row
    {
        margin-left: -24px;
    }

    .articles .row > *
    {
        width: calc(33.333% - 24px);
        margin-left: 24px;
    }


    .articles .article .info
    {
        padding-top: 20px;
    }

    .articles .article .date
    {
        line-height: 14px;
    }

    .articles .article .name
    {
        font-size: 17px;
        line-height: 23px;
    }

    .articles .article .desc
    {
        margin-top: 12px;
    }



    /*-------------
        Banners
    -------------*/
    .banners
    {
        margin-bottom: 64px;
    }


    .banners .banner
    {
        height: 200px;
        padding-top: 64px;
        padding-right: 92px;
    }

    .banners .banner .info
    {
        width: 468px;
    }

    .banners .banner .name
    {
        font-size: 32px;
    }

    .banners .banner .price
    {
        font-size: 28px;
    }

    .banners .banner .desc
    {
        font-size: 18px;
        line-height: 26px;
    }



    /*--------------
        Products
    --------------*/
    .products
    {
        margin-bottom: 64px;
    }


    .products .swiper-button-prev
    {
        left: -15px;

        opacity: 1;
    }

    .products .swiper-button-next
    {
        right: -15px;

        opacity: 1;
    }


    .products .product
    {
        padding: 19px;
    }

    .products .product .thumb
    {
        height: 180px;
    }

    .products .product .name
    {
        font-size: 17px;
        line-height: 23px;
    }

    .products .product .desc
    {
        font-size: 14px;

        margin-top: 12px;
    }

    .products .product .price
    {
        font-size: 20px;

        margin-top: 16px;
    }

    .products .product .link
    {
        margin-top: 16px;
    }



    /*------------
        Brands
    ------------*/
    .brands
    {
        margin-bottom: 64px;
    }


    .brands .swiper-button-prev
    {
        left: -15px;

        opacity: 1;
    }

    .brands .swiper-button-next
    {
        right: -15px;

        opacity: 1;
    }


    .brands .row > *
    {
        width: calc(20% - 24px);
    }

    .brands .row > *:nth-child(5) ~ *
    {
        display: none;
    }


    .brands .item
    {
        height: 100px;
        padding: 8px;
    }



    /*------------
        Why we
    ------------*/
    .why_we
    {
        margin-bottom: 64px;
        padding: 72px 0;
    }


    .why_we .row
    {
        padding-top: 16px;
    }


    .why_we .item .icon
    {
        width: 52px;
    }

    .why_we .item .icon + div
    {
        width: calc(100% - 72px);
    }

    .why_we .item .name
    {
        font-size: 18px;
        line-height: 22px;
    }


    .why_we .item .desc
    {
        line-height: 20px;
    }



    /*-------------
        Experts
    -------------*/
    .experts
    {
        margin-bottom: 64px;
    }


    .experts .row > *
    {
        width: 25%;
    }



    /*------------------
        Developments
    ------------------*/
    .developments
    {
        margin-bottom: 64px;
    }


    .developments .row
    {
        margin-bottom: -24px;
        margin-left: -24px;
    }

    .developments .row > *
    {
        width: calc(33.333% - 24px);
        margin-bottom: 24px;
        margin-left: 24px;
    }



    /*---------------
        Geography
    ---------------*/
    .geography
    {
        margin-bottom: 64px;
        padding: 72px 0;
    }



    /*-----------
        Certs
    -----------*/
    .certs .swiper-button-prev
    {
        left: -15px;

        opacity: 1;
    }

    .certs .swiper-button-next
    {
        right: -15px;

        opacity: 1;
    }


    .certs .row
    {
        margin-bottom: -24px;
        margin-left: -24px;
    }

    .certs .row > *
    {
        width: calc(16.666% - 24px);
        margin-bottom: 24px;
        margin-left: 24px;
    }


    .certs .cert .thumb
    {
        margin-bottom: 20px;
    }

    .certs .cert .thumb img
    {
        width: 100%;
        height: auto;
    }



    /*--------------
        Partners
    --------------*/
    .partners .swiper-button-prev
    {
        left: -15px;

        opacity: 1;
    }

    .partners .swiper-button-next
    {
        right: -15px;

        opacity: 1;
    }



    /*------------------
        Product info
    ------------------*/
    .product_info
    {
        padding-top: 32px;
    }


    .product_info .head
    {
        margin-bottom: 32px;
    }


    .product_info .data
    {
        width: 100%;
        margin-top: 32px;

        order: 2;
    }


    .product_info .product_name
    {
        font-size: 40px;
    }


    .product_info .rating,
    .product_info .articul,
    .product_info .btns
    {
        margin-top: 24px;
    }


    .product_info .buy
    {
        padding: 24px 40px;

        align-items: center;
        align-content: center;
    }


    .product_info .buy .price .old
    {
        margin-bottom: 0;
    }

    .product_info .buy .price + *
    {
        display: flex;

        justify-content: flex-start;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
    }


    .product_info .buy .buy_btn
    {
        width: auto;
        padding: 16px 40px 14px;
    }

    .product_info .buy .quike_buy_btn
    {
        width: auto;
        margin-top: 4px;
        margin-left: 40px;
    }


    .product_info .pluses
    {
        margin-top: 40px;
        margin-bottom: -24px;
        margin-left: -24px;
    }

    .product_info .pluses > *
    {
        width: calc(25% - 24px);
        margin-bottom: 24px;
        margin-left: 24px;
    }

    .product_info .pluses br
    {
        display: none;
    }


    .product_info .images
    {
        width: 720px;
        max-width: 100%;
    }



    /*------------------
        Product head
    ------------------*/
    .product_head
    {
        padding: 32px 0 24px;
    }


    .product_head .name
    {
        font-size: 24px;

        width: 100%;
        margin-bottom: 16px;
    }


    .product_head .anchors
    {
        margin-left: 0;
    }

    .product_head .anchors .btn
    {
        padding: 10px 0 7px;
    }

    .product_head .anchors > * + *
    {
        margin-left: 32px;
    }


    .product_head .download_link
    {
        margin-left: auto;
        padding: 12px 20px 10px;
    }



    /*----------------------
        Product overview
    ----------------------*/
    .product_overview
    {
        padding: 100px 0;
    }


    .product_overview .data
    {
        width: 516px;
    }


    .product_overview .title
    {
        font-size: 40px;
    }


    .product_overview .sub_title
    {
        font-size: 22px;
        line-height: 28px;

        width: 100%;
        margin-top: 16px;
    }


    .product_overview .desc
    {
        font-size: 16px;
        line-height: 24px;

        margin-top: 36px;
    }



    /*------------------------
        Product advantages
    ------------------------*/
    .product_advantages .spoler_btn
    {
        display: none;
    }


    .product_advantages .row
    {
        margin-bottom: -40px;
        margin-left: -24px;
    }

    .product_advantages .row > *
    {
        width: calc(33.333% - 24px);
        margin-bottom: 40px;
        margin-left: 24px;
    }


    .product_advantages .thumb
    {
        height: 240px;
        margin-bottom: 24px;
    }


    .product_advantages .name
    {
        font-size: 20px;
    }


    .product_advantages .desc
    {
        line-height: 21px;
    }

    .product_advantages .desc:after
    {
        display: none;
    }

    .product_advantages ul li:before
    {
        top: 8px;
    }



    /*----------------------
        Product features
    ----------------------*/
    .product_features .block_head .title
    {
        width: 100%;
    }


    .product_features .filter
    {
        width: 240px;
        margin-top: 12px;
        margin-left: 0;
    }



    /*---------------
        Documents
    ---------------*/
    .documents .row
    {
        margin-bottom: -40px;
        margin-left: -24px;
    }

    .documents .row > *
    {
        width: calc(33.333% - 24px);
        margin-bottom: 40px;
        margin-left: 24px;
    }


    .documents .document .thumb
    {
        width: 100px;
        height: 145px;
    }

    .documents .document .thumb + *
    {
        width: calc(100% - 120px);
        padding-top: 0;

        align-self: center;
    }


    .documents .document .name
    {
        font-size: 16px;
    }

    .documents .document .info
    {
        margin-top: 12px;
    }



    /*------------------
        Has question
    ------------------*/
    .has_question .data
    {
        width: calc(100% - 464px);
    }

    .has_question .data .title
    {
        font-size: 32px;
    }

    .has_question .data .desc
    {
        font-size: 15px;
        line-height: 21px;
    }


    .has_question .manager
    {
        width: 432px;
        padding: 27px;
    }


    .has_question .manager .photo
    {
        width: 140px;
        height: 140px;
    }

    .has_question .manager .photo + div
    {
        width: calc(100% - 164px);
    }


    .has_question .manager .name
    {
        font-size: 20px;
    }


    .has_question .manager .link a
    {
        font-size: 15px;
        line-height: 21px;
    }



    /*-----------------------------
        Educational center info
    -----------------------------*/
    .educational_center_info .head
    {
        padding: 60px 0;
    }


    .educational_center_info .head .title
    {
        font-size: 40px;
    }

    .educational_center_info .head .sub_title
    {
        font-size: 22px;
        line-height: 28px;

        width: 100%;
        margin-top: 16px;
    }

    .educational_center_info .head .desc
    {
        font-size: 16px;
        line-height: 24px;

        width: 628px;
        margin-top: 36px;
    }



    .educational_center_info .links
    {
        padding: 24px 0;
    }


    .educational_center_info .links .row
    {
        margin-bottom: -2px;
        margin-left: -2px;
    }

    .educational_center_info .links .row > *
    {
        margin-bottom: 2px;
        margin-left: 2px;
    }


    .educational_center_info .links a
    {
        font-size: 14px;
        line-height: 18px;

        padding: 11px 16px 7px;
    }



    /*----------------------
        Directions study
    ----------------------*/
    .directions_study .direction + .direction
    {
        margin-top: 40px;
    }


    .directions_study .thumb
    {
        width: 720px;
        max-width: 100%;
        padding-bottom: 380px;

        order: 1;
    }


    .directions_study .data
    {
        width: 100%;
        margin-top: 24px;

        order: 2;
    }

    .directions_study .data .name
    {
        font-size: 24px;
    }



    /*-------------------
        Services list
    -------------------*/
    .services_list .service .name
    {
        font-size: 21px;

        min-height: 64px;
        padding-left: 80px;
    }


    .services_list .service .icon
    {
        max-width: 60px;
        max-height: 60px;
    }



    /*-------------------
        Contacts info
    -------------------*/
    .contacts_info .head .tabs .row + .row
    {
        margin-top: 0;
    }


    .contacts_info .data
    {
        margin-bottom: 40px;
    }


    .contacts_info .data .company
    {
        font-size: 32px;
    }


    .contacts_info .info
    {
        margin-top: 32px;
    }

    .contacts_info .info > *:last-child
    {
        width: calc(100% - 536px);
    }


    .contacts_info .info .title
    {
        font-size: 20px;
    }

    .contacts_info .info .title .icon
    {
        max-height: 32px;
        margin-right: 12px;
    }


    .contacts_info .info .contacts
    {
        padding-left: 35px;
    }

    .contacts_info .info .contacts > *
    {
        display: block;
    }

    .contacts_info .info .contacts > * + *
    {
        margin-top: 12px;
    }

    .contacts_info .info .contacts .name
    {
        font-size: 15px;
        line-height: 21px;

        width: auto;
        margin-bottom: 4px;
        padding-right: 0;
    }

    .contacts_info .info .contacts .val
    {
        font-size: 15px;
        line-height: 23px;

        width: auto;
    }

    .contacts_info .info .contacts .exp
    {
        font-size: 12px;
        line-height: 16px;

        margin-top: 4px;
    }


    .contacts_info .info .time
    {
        font-size: 15px;
        line-height: 23px;

        padding-left: 44px;
    }


    .contacts_info .info .location
    {
        padding-left: 40px;
    }

    .contacts_info .info .location > *
    {
        display: block;
    }

    .contacts_info .info .location > * + *
    {
        margin-top: 12px;
    }

    .contacts_info .info .location .name
    {
        font-size: 15px;
        line-height: 21px;

        width: auto;
        margin-bottom: 4px;
        padding-right: 0;
    }

    .contacts_info .info .location .val
    {
        font-size: 15px;
        line-height: 23px;

        width: auto;
    }

    .contacts_info .info .location .exp
    {
        font-size: 12px;
        line-height: 16px;

        margin-top: 4px;
    }


    .contacts_info .map
    {
        height: 360px;
    }



    /*----------
        Team
    ----------*/
    .team .row > *
    {
        width: calc(33.333% - 24px);
    }


    .team .person
    {
        padding: 23px;
    }



    /*-------------------------
        Service center info
    -------------------------*/
    .service_center_info .head
    {
        padding: 60px 0;
    }


    .service_center_info .head .title
    {
        font-size: 40px;
    }

    .service_center_info .head .desc
    {
        font-size: 16px;
        line-height: 24px;

        width: 628px;
        margin-top: 36px;
    }

    .service_center_info .head .link
    {
        margin-top: 32px;
    }

    .service_center_info .head .link a
    {
        font-size: 14px;
        line-height: 18px;
    }



    .service_center_info .links
    {
        padding: 24px 0;
    }


    .service_center_info .links .row
    {
        display: block;
        overflow: auto;

        width: calc(100% + 48px);
        margin: -24px;
        padding: 24px;

        white-space: nowrap;

        scrollbar-color: transparent transparent !important;
        scrollbar-width: thin !important;
    }

    .service_center_info .links .row::-webkit-scrollbar
    {
        width: 0 !important;
        height: 0 !important;

        background-color: transparent !important;
    }

    .service_center_info .links .row::-webkit-scrollbar-thumb
    {
        background-color: transparent !important;
    }


    .service_center_info .links .row > *
    {
        display: inline-block;

        max-width: none;
        margin: 0;

        vertical-align: top;
    }

    .service_center_info .links .row > * + *
    {
        margin-left: 4px;
    }


    .service_center_info .links a
    {
        font-size: 14px;
        line-height: 18px;

        padding: 11px 20px 7px;
    }



    /*-----------------------------
        Service center services
    -----------------------------*/
    .service_center_services .row
    {
        margin-left: -24px;
    }

    .service_center_services .row > *
    {
        width: calc(50% - 24px);
        margin-left: 24px;
    }


    .service_center_services .title
    {
        font-size: 26px;

        margin-bottom: 20px;
    }


    .service_center_services .thumb
    {
        margin-bottom: 20px;
    }



    /*------------
        Footer
    ------------*/
    footer .menu
    {
        width: 100%;
    }


    footer .phone
    {
        position: absolute;
        top: 108px;
        right: 24px;

        width: 200px;
        margin-left: auto;
    }


    footer .text
    {
        width: calc(100% - 240px);
    }


    footer .typo
    {
        line-height: 20px;

        width: 200px;
        margin-top: 64px;
    }
}
