@media print, (max-width: 1439px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --sidebar_width: 308px;
        --font_size: 15px;
        --font_size_title: 36px;
    }


    html.custom_scroll ::-webkit-scrollbar
    {
        width: 5px;
        height: 5px;
    }



    .content_flex
    {
        margin-bottom: 72px;
    }

    .content_flex .content
    {
        width: calc(100% - var(--sidebar_width) - 32px);
    }



    /*------------
        Notice
    ------------*/
    .notice
    {
        font-size: 16px;
        line-height: 20px;

        padding: 16px 0;
    }



    /*----------
        Tabs
    ----------*/
    .tabs
    {
        margin-bottom: 32px;
    }


    .tabs button
    {
        font-size: 16px;
        line-height: 20px;

        height: 40px;
    }



    /*------------
        Header
    ------------*/
    header
    {
        height: 268px;
    }


    header .info
    {
        padding: 24px 0;
    }


    header .bottom
    {
        padding: 16px 0 52px;
    }


    header .contacts .phone
    {
        font-size: 18px;

        margin-top: 12px;
    }


    header .menu
    {
        width: 564px;
        margin-bottom: -8px;
        margin-left: -32px;
    }

    header .menu > *
    {
        margin-bottom: 8px;
        margin-left: 32px;
    }


    header .feedback_btn
    {
        width: 180px;
    }


    header .links > * + *
    {
        margin-left: 24px;
    }


    header .search form .input
    {
        font-size: 30px;
    }


    header .search .tags
    {
        margin-top: 40px;
        margin-left: -20px;
    }

    header .search .tags > *
    {
        margin-left: 20px;
    }



    /*----------
        Menu
    ----------*/
    #menu .cols .title
    {
        font-size: 20px;
        line-height: 26px;
    }


    #menu .cols .item + .item
    {
        margin-top: 52px;
    }


    #menu .cols .items > * + *,
    #menu .alphabet .items > * + *
    {
        margin-top: 8px;
    }

    #menu .cols .items a,
    #menu .alphabet .items a
    {
        font-size: 16px;
        line-height: 22px;
    }


    #menu .alphabet
    {
        margin-bottom: -52px;
        margin-left: -32px;
    }

    #menu .alphabet .item
    {
        width: calc(20% - 32px);
        margin-bottom: 52px;
        margin-left: 32px;
    }

    #menu .alphabet .letter
    {
        font-size: 22px;
        line-height: 24px;
    }



    /*-------------
        Sidebar
    -------------*/
    aside .filter
    {
        padding: 32px;
    }


    aside .filter .item + .item
    {
        margin-top: 28px;
    }


    aside .filter .name
    {
        font-size: 22px;
    }

    aside .filter .name .icon
    {
        top: 3px;
    }


    aside .filter .data
    {
        margin-top: 16px;
    }


    aside .filter .field
    {
        margin-left: -16px;
    }


    aside .filter label
    {
        font-size: 16px;

        padding: 10px 46px 8px 16px;
    }


    aside .filter .submit
    {
        margin-top: 32px;
    }



    /*---------------
        Page head
    ---------------*/
    .page_title
    {
        font-size: 52px;
    }


    .breadcrumbs .sep
    {
        margin: 0 12px;
    }


    .page_head .btns
    {
        margin-top: 32px;
        margin-bottom: -8px;
        margin-left: -8px;
    }

    .page_head .btns .btn
    {
        font-size: 16px;
        line-height: 20px;

        margin-bottom: 8px;
        margin-left: 8px;
        padding: 11px 16px 7px;
    }



    /*----------------
        Block head
    ----------------*/
    .block_head
    {
        margin-bottom: 24px;
    }

    .block_head.big_m
    {
        margin-bottom: 32px;
    }


    .block_head .desc
    {
        font-size: 17px;
        line-height: 25px;

        width: 1000px;
        margin-top: 20px;
    }



    /*-----------------
        Main slider
    -----------------*/
    .first_section > .cont
    {
        min-height: 0;
        padding-top: 500px;
        padding-bottom: 80px;
    }


    .first_section header
    {
        height: 385px;
    }

    .first_section header .bottom
    {
        padding: 64px 0 52px;
    }


    .first_section .services
    {
        margin-bottom: -15px;
        margin-left: -15px;
    }

    .first_section .services > *
    {
        width: calc(20% - 15px);
        margin-bottom: 15px;
        margin-left: 15px;
    }


    .first_section .services .service
    {
        font-size: 18px;
        line-height: 26px;

        min-height: 112px;
        padding: 23px;
    }

    .first_section .services .service .icon
    {
        bottom: 19px;
    }



    /*-----------------
        About block
    -----------------*/
    .about_block .data .title
    {
        font-size: 38px;
        line-height: 100%;
    }

    .about_block .data .sub_title
    {
        font-size: 26px;
        line-height: 28px;

        margin-top: 12px;
    }



    /*--------------
        Articles
    --------------*/
    .articles
    {
        margin-bottom: 72px;
    }


    .articles .row
    {
        margin-left: -32px;
    }

    .articles .row > *
    {
        width: calc(33.333% - 32px);
        margin-left: 32px;
    }



    /*-------------
        Banners
    -------------*/
    .banners
    {
        margin-bottom: 72px;
    }


    .banners .banner
    {
        height: 220px;
        padding-right: 152px;
        padding-bottom: 48px;
    }

    .banners .banner .info
    {
        width: 520px;
    }

    .banners .banner .name
    {
        font-size: 36px;
    }

    .banners .banner .price
    {
        font-size: 30px;

        margin-left: 32px;
    }

    .banners .banner .price .sticker
    {
        top: -20px;

        margin-left: 12px;
    }

    .banners .banner .desc
    {
        font-size: 20px;
        line-height: 28px;

        margin-top: 20px;
    }



    /*-------------------
        Products head
    -------------------*/
    .products_head
    {
        margin-bottom: 24px;
    }


    .products_head .views .btn + .btn
    {
        margin-left: 16px;
    }



    /*--------------
        Products
    --------------*/
    .products
    {
        margin-bottom: 72px;
    }


    .products .row
    {
        margin-bottom: -24px;
        margin-left: -24px;
    }

    .products .row > *
    {
        width: calc(25% - 24px);
        margin-bottom: 24px;
        margin-left: 24px;
    }


    .content .products .row > *
    {
        width: calc(33.333% - 24px);
    }


    .products .product
    {
        padding: 27px;
    }

    .products .product .thumb
    {
        height: 220px;
    }

    .products .product .name
    {
        font-size: 19px;
        line-height: 23px;
    }


    .products .product .link
    {
        padding: 11px 16px 7px;
    }


    .products .product .btns .btn
    {
        width: 28px;
        height: 28px;
    }

    .products .product .btns .btn + .btn
    {
        margin-left: 16px;
    }



    .products .list > * + *
    {
        margin-top: 24px;
    }


    .products .list .product
    {
        padding: 23px;
    }

    .products .list .product .info
    {
        width: calc(100% - 401px);
    }

    .products .list .product .btns
    {
        width: 150px;
        margin-left: 0;
        padding: 0;
    }



    /*------------
        Brands
    ------------*/
    .brands
    {
        margin-bottom: 72px;
    }


    .brands .swiper-container
    {
        margin-top: 0;
    }


    .brands .row
    {
        margin-bottom: -24px;
        margin-left: -24px;
        padding-top: 0;
    }

    .brands .row > *
    {
        width: calc(12.5% - 24px);
        margin-bottom: 24px;
        margin-left: 24px;
    }



    /*------------
        Why we
    ------------*/
    .why_we
    {
        margin-bottom: 72px;
    }


    .why_we .row
    {
        padding-top: 24px;
    }


    .why_we .item .icon + div
    {
        width: calc(100% - 96px);
    }

    .why_we .item .name
    {
        font-size: 20px;
    }



    /*------------------
        Developments
    ------------------*/
    .developments
    {
        margin-bottom: 71px;
    }


    .developments .row
    {
        margin-bottom: -32px;
        margin-left: -32px;
        padding-top: 0;
    }

    .developments .row > *
    {
        width: calc(33.333% - 32px);
        margin-bottom: 32px;
        margin-left: 32px;
    }



    /*---------------
        Geography
    ---------------*/
    .geography
    {
        margin-bottom: 72px;
        padding: 80px 0;
    }



    /*-------------
        Experts
    -------------*/
    .experts
    {
        margin-bottom: 80px;
    }


    .experts .item
    {
        padding: 20px 16px;
    }



    /*--------------
        Partners
    --------------*/
    .partners
    {
        margin-bottom: 72px;
    }


    .partners .block_head
    {
        margin-bottom: 24px;
    }



    /*-----------
        Certs
    -----------*/
    .certs .row
    {
        margin-bottom: -32px;
        margin-left: -32px;
    }

    .certs .row > *
    {
        width: calc(16.666% - 32px);
        margin-bottom: 32px;
        margin-left: 32px;
    }


    .certs .cert .thumb
    {
        margin-bottom: 24px;
    }



    /*------------------
        Product info
    ------------------*/
    .product_info .head
    {
        margin-bottom: 36px;
    }


    .product_info .data
    {
        width: 560px;
    }


    .product_info .product_name
    {
        font-size: 44px;
        line-height: calc(100% + 8px);
    }


    .product_info .desc
    {
        font-size: 16px;
        line-height: 22px;
    }


    .product_info .rating,
    .product_info .articul,
    .product_info .btns
    {
        margin-top: 28px;
    }

    .product_info .articul
    {
        margin-left: 32px;
    }

    .product_info .btns .btn + .btn
    {
        margin-left: 28px;
    }


    .product_info .buy
    {
        margin-top: 16px;
        padding: 24px 32px;
    }


    .product_info .buy .price
    {
        font-size: 36px;
    }

    .product_info .buy .price .old
    {
        line-height: 28px;

        margin-bottom: 8px;
    }


    .product_info .buy .buy_btn
    {
        font-size: 16px;

        padding: 16px 36px 14px;
    }


    .product_info .buy .quike_buy_btn
    {
        margin-top: 12px;
    }


    .product_info .pluses
    {
        margin-top: 48px;
        margin-bottom: -28px;
        margin-left: -40px;
    }

    .product_info .pluses > *
    {
        width: calc(50% - 40px);
        margin-bottom: 28px;
        margin-left: 40px;
        padding-left: 44px;
    }


    .product_info .images
    {
        width: calc(100% - 580px);
    }


    .product_info .images .big
    {
        width: calc(100% - 106px);
    }

    .product_info .images .big .slide a
    {
        height: 560px;
    }


    .product_info .images .thumbs.swiper-container
    {
        padding: 33px 0;
    }

    .product_info .images .thumbs .swiper-button-prev
    {
        top: 0;
    }

    .product_info .images .thumbs .swiper-button-next
    {
        bottom: 0;
    }



    /*------------------
        Product head
    ------------------*/
    .product_head
    {
        padding: 32px 0;
    }


    .product_head .name
    {
        font-size: 26px;

        width: 300px;
    }


    .product_head .anchors
    {
        margin-left: 20px;
    }

    .product_head .anchors .btn
    {
        padding: 10px 12px 7px;
    }


    .product_head .download_link
    {
        margin-left: 20px;
        padding: 12px 16px 10px;
    }



    /*----------------------
        Product overview
    ----------------------*/
    .product_overview
    {
        margin-bottom: 80px;
        padding: 120px 0;
    }


    .product_overview .data
    {
        width: 604px;
    }


    .product_overview .title
    {
        font-size: 48px;
    }


    .product_overview .sub_title
    {
        font-size: 28px;
        line-height: 36px;

        width: 568px;
        margin-top: 20px;
    }


    .product_overview .desc
    {
        font-size: 20px;
        line-height: 30px;

        margin-top: 40px;
    }



    /*------------------------
        Product advantages
    ------------------------*/
    .product_advantages .spoler_btn
    {
        font-size: 13px;

        padding: 15px 20px 12px;
    }


    .product_advantages .row
    {
        margin-bottom: -32px;
        margin-left: -32px;
    }

    .product_advantages .row > *
    {
        width: calc(33.333% - 32px);
        margin-bottom: 32px;
        margin-left: 32px;
    }


    .product_advantages .thumb
    {
        height: 280px;
        margin-bottom: 28px;
    }

    .product_advantages .name
    {
        font-size: 22px;
    }

    .product_advantages .desc
    {
        line-height: 22px;
    }



    /*----------------------
        Product features
    ----------------------*/
    .product_features .nice-select
    {
        width: 240px;
    }

    .product_features .nice-select .current
    {
        font-size: 13px;

        padding: 13px 40px 10px 20px;
    }

    .product_features .nice-select .list .list_item
    {
        font-size: 13px;

        padding: 8px 20px;
    }


    .product_features .filter .icon
    {
        right: 18px;
    }



    /*---------------
        Documents
    ---------------*/
    .documents
    {
        margin-bottom: 80px;
    }


    .documents .row
    {
        margin-bottom: -32px;
        margin-left: -32px;
    }

    .documents .row > *
    {
        width: calc(33.333% - 32px);
        margin-bottom: 32px;
        margin-left: 32px;
    }


    .documents .document .thumb
    {
        width: 120px;
        height: 169px;
    }

    .documents .document .thumb + *
    {
        width: calc(100% - 144px);
        padding-top: 40px;
    }


    .documents .document .name
    {
        font-size: 17px;
    }

    .documents .document .info
    {
        font-size: 13px;
        line-height: 19px;

        margin-top: 16px;
    }



    /*------------------
        Has question
    ------------------*/
    .has_question
    {
        padding: 60px 0;
    }


    .has_question .data
    {
        width: calc(100% - 600px);
    }

    .has_question .data .title
    {
        font-size: 36px;

        margin-bottom: 20px;
    }

    .has_question .data .desc
    {
        font-size: 16px;
        line-height: 22px;
    }

    .has_question .data .btn
    {
        margin-top: 20px;
        padding: 10px 24px 8px;
    }


    .has_question .manager
    {
        width: 520px;
        padding: 36px;
    }


    .has_question .manager .photo + div
    {
        width: calc(100% - 186px);
    }


    .has_question .manager .name
    {
        font-size: 21px;
    }


    .has_question .manager .link
    {
        margin-top: 16px;
    }

    .has_question .manager .link a
    {
        font-size: 16px;
        line-height: 22px;
    }

    .has_question .manager .link .icon
    {
        bottom: 5px;
    }



    /*-----------------------------
        Educational center info
    -----------------------------*/
    .educational_center_info
    {
        margin-bottom: 60px;
    }



    .educational_center_info .head
    {
        padding: 80px 0;
    }


    .educational_center_info .head .title
    {
        font-size: 48px;
    }

    .educational_center_info .head .sub_title
    {
        font-size: 28px;
        line-height: 36px;
    }

    .educational_center_info .head .desc
    {
        font-size: 20px;
        line-height: 30px;

        width: 784px;
        margin-top: 40px;
    }



    .educational_center_info .links
    {
        padding: 40px 0;
    }


    .educational_center_info .links .row
    {
        margin-bottom: -12px;
        margin-left: -12px;
    }

    .educational_center_info .links .row > *
    {
        margin-bottom: 12px;
        margin-left: 12px;
    }


    .educational_center_info .links a
    {
        font-size: 16px;
        line-height: 20px;
    }



    /*----------------------
        Directions study
    ----------------------*/
    .directions_study .direction + .direction
    {
        margin-top: 52px;
    }


    .directions_study .data .name
    {
        font-size: 26px;
    }


    .directions_study .link
    {
        margin-top: 8px;
    }

    .directions_study .link a
    {
        height: 40px;
    }



    /*-------------------
        Services list
    -------------------*/
    .services_list
    {
        margin-bottom: 60px;
    }


    .services_list .service .name
    {
        font-size: 22px;

        min-height: 72px;
        padding-left: 100px;
    }


    .services_list .service .link
    {
        margin-top: 8px;
    }

    .services_list .service .link a
    {
        height: 40px;
    }



    /*-------------------
        Contacts info
    -------------------*/
    .contacts_info .head
    {
        margin-bottom: 60px;
        padding: 50px 0;
    }


    .contacts_info .head .tabs .row + .row
    {
        margin-top: 16px;
    }



    .contacts_info .data .company
    {
        font-size: 36px;
    }


    .contacts_info .info > *:last-child
    {
        width: calc(100% - 612px);
    }


    .contacts_info .info .title
    {
        font-size: 22px;

        margin-bottom: 16px;
    }

    .contacts_info .info .title .icon
    {
        max-height: 36px;
        margin-right: 16px;
    }


    .contacts_info .info .contacts
    {
        padding-left: 41px;
    }

    .contacts_info .info .contacts .name
    {
        font-size: 16px;
        line-height: 30px;

        width: 92px;
        padding-right: 16px;
    }

    .contacts_info .info .contacts .val
    {
        font-size: 16px;
        line-height: 30px;

        width: calc(100% - 92px);
    }

    .contacts_info .info .contacts .exp
    {
        margin-top: 2px;
    }


    .contacts_info .info .time
    {
        font-size: 16px;
        line-height: 30px;

        padding-left: 52px;
    }

    .contacts_info .info .time span
    {
        line-height: 20px;
    }


    .contacts_info .info .location
    {
        padding-left: 47px;
    }

    .contacts_info .info .location .name
    {
        font-size: 16px;
        line-height: 30px;

        width: 144px;
        padding-right: 16px;
    }

    .contacts_info .info .location .val
    {
        font-size: 16px;
        line-height: 30px;

        width: calc(100% - 144px);
    }

    .contacts_info .info .location .exp
    {
        margin-top: 2px;
    }



    .contacts_info .map
    {
        margin-bottom: 60px;
    }



    /*----------
        Team
    ----------*/
    .team
    {
        margin-bottom: 60px;
    }


    .team .row
    {
        margin-bottom: -24px;
        margin-left: -24px;
    }

    .team .row > *
    {
        width: calc(25% - 24px);
        margin-bottom: 24px;
        margin-left: 24px;
    }


    .team .person
    {
        padding: 29px;
    }


    .team .person .photo
    {
        width: 140px;
        height: 140px;
        margin-bottom: 24px;
    }

    .team .person .name
    {
        font-size: 20px;
    }

    .team .person .location,
    .team .person .link a
    {
        font-size: 16px;
        line-height: 22px;
    }

    .team .person .contacts > * + *
    {
        margin-top: 4px;
    }



    /*-------------------------
        Service center info
    -------------------------*/
    .service_center_info
    {
        margin-bottom: 60px;
    }



    .service_center_info .head
    {
        padding: 80px 0;
    }


    .service_center_info .head .title
    {
        font-size: 48px;
    }

    .service_center_info .head .desc
    {
        font-size: 20px;
        line-height: 30px;

        width: 784px;
        margin-top: 40px;
    }

    .service_center_info .head .link
    {
        margin-top: 40px;
    }

    .service_center_info .head .link a
    {
        padding: 15px 24px 11px;
    }



    .service_center_info .links
    {
        padding: 40px 0;
    }


    .service_center_info .links .row
    {
        margin-bottom: -12px;
        margin-left: -12px;
    }

    .service_center_info .links .row > *
    {
        margin-bottom: 12px;
        margin-left: 12px;
    }


    .service_center_info .links a
    {
        font-size: 16px;
        line-height: 20px;
    }



    /*-----------------------------
        Service center services
    -----------------------------*/
    .service_center_services .row
    {
        margin-bottom: -40px;
        margin-left: -40px;
    }

    .service_center_services .row > *
    {
        width: calc(50% - 40px);
        margin-bottom: 40px;
        margin-left: 40px;
    }


    .service_center_services .title
    {
        font-size: 30px;

        margin-bottom: 24px;
    }


    .service_center_services .thumb
    {
        margin-bottom: 24px;
    }



    /*------------------
        Catalog info
    ------------------*/
    .catalog_info .head
    {
        padding: 50px 0;
    }


    .catalog_info .head .title
    {
        font-size: 48px;
    }

    .catalog_info .head .download_link
    {
        margin-top: 3px;
    }

    .catalog_info .head .desc
    {
        font-size: 20px;
        line-height: 30px;

        width: 784px;
        margin-top: 40px;
    }



    .catalog_info .links
    {
        padding: 40px 0;
    }


    .catalog_info .links .row
    {
        margin-bottom: -12px;
        margin-left: -12px;
    }

    .catalog_info .links .row > *
    {
        margin-bottom: 12px;
        margin-left: 12px;
    }


    .catalog_info .links a
    {
        font-size: 16px;
        line-height: 20px;
    }



    /*------------
        Footer
    ------------*/
    footer .info
    {
        padding: 52px 0 35px;
    }


    footer .bottom
    {
        padding: 24px 0;
    }


    footer .menu,
    footer .text
    {
        width: calc(100% - 332px);
    }


    footer .phone
    {
        font-size: 22px;
        line-height: 20px;

        width: 220px;
    }


    footer .typo
    {
        width: 220px;
    }


    footer .socials a + a
    {
        margin-left: 28px;
    }
}
