@media print, (max-width: 1023px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --font_size_title: 28px;
        --sidebar_width: 100%;
    }


    .content_flex .content
    {
        width: 100%;

        order: 2;
    }



    /*----------
        Tabs
    ----------*/
    .tabs button
    {
        font-size: 13px;
        line-height: 19px;

        padding: 10px 12px 6px;
    }



    /*------------
        Header
    ------------*/
    header
    {
        height: 221px;
    }


    header .bottom
    {
        padding-top: 12px;
        padding-bottom: 40px;
    }


    header .logo,
    header .logo img
    {
        width: 174px;
    }


    header .contacts
    {
        margin-left: 32px;
    }


    header .menu
    {
        display: none;
    }


    header .search
    {
        width: calc(100% - 206px);
        margin-top: 4px;
    }

    header .search .title
    {
        font-size: 18px;
        line-height: 20px;

        margin-bottom: 24px;
        padding: 16px 20px;
    }

    header .search form .input
    {
        font-size: 18px;

        padding-right: 52px;
    }

    header .search form .submit_btn
    {
        width: 52px;
    }


    header .search .tags
    {
        margin-top: 20px;
    }

    header .search .tags > *:nth-child(3) ~ *
    {
        display: none;
    }

    header .search .tags a
    {
        font-size: 11px;
        line-height: 15px;
    }


    header .links
    {
        margin-left: auto;
    }

    header .links > * + *
    {
        margin-left: 32px;
    }



    /*----------
        Menu
    ----------*/
    #menu
    {
        padding-top: 24px;
    }


    #menu .tabs
    {
        margin-bottom: 40px;
        padding-left: 88px;
    }


    #menu .cols
    {
        margin-bottom: -40px;
    }

    #menu .cols .col
    {
        width: calc(50% - 20px);
        max-width: 100%;
        margin-bottom: 40px;
    }


    #menu .cols .col:last-child
    {
        display: flex;

        width: 100%;

        justify-content: space-between;
        align-items: flex-start;
        align-content: flex-start;
        flex-wrap: wrap;
    }

    #menu .cols .col:last-child > *
    {
        width: calc(50% - 20px);
        max-width: 100%;
    }

    #menu .cols .col:last-child > *:nth-child(2)
    {
        margin-top: 0;
    }


    #menu .alphabet .item
    {
        width: calc(33.333% - 24px);
        margin-bottom: 40px;
        margin-left: 24px;
    }



    /*-------------
        Sidebar
    -------------*/
    aside
    {
        margin-bottom: 24px;

        order: 1;
    }

    aside.big_m
    {
        margin-bottom: 40px;
    }


    aside .mob_filter_btn
    {
        display: block;
    }


    aside .filter
    {
        display: none;

        margin-top: 8px;
    }



    aside .mob_categories_btn
    {
        display: block;
    }


    aside .categories
    {
        display: none;

        margin-top: 8px;
    }



    /*---------------
        Page head
    ---------------*/
    .page_head
    {
        padding: 40px 0;
    }


    .page_title
    {
        font-size: 38px;
    }


    .page_head .btns
    {
        display: none;
    }



    /*----------------
        Block head
    ----------------*/
    .block_head.big_m
    {
        margin-bottom: 24px;
    }


    .block_head .title.mini
    {
        font-size: var(--font_size_title);
    }



    /*------------------
        Form elements
    ------------------*/



    /*----------------
        Typography
    ----------------*/



    /*-------------------
        First section
    -------------------*/
    .first_section > .cont
    {
        padding-top: 400px;
        padding-bottom: 64px;
    }


    .first_section header
    {
        height: 296px;
    }

    .first_section header .bottom
    {
        padding: 40px 0;
    }


    .first_section .services
    {
        margin-bottom: -12px;
        margin-left: -12px;
    }

    .first_section .services > *
    {
        width: calc(25% - 12px);
        margin-bottom: 12px;
        margin-left: 12px;
    }


    .first_section .services .service
    {
        font-size: 14px;
        line-height: 20px;

        min-height: 100px;
        padding: 16px 32px 16px 16px;
    }


    .first_section .services .service .icon
    {
        right: 12px;
        bottom: 12px;
    }



    /*-----------------
        About block
    -----------------*/
    .about_block
    {
        margin-bottom: 60px;
        padding: 64px 0;
    }


    .about_block .data .title
    {
        font-size: 32px;
    }

    .about_block .data .sub_title
    {
        font-size: 20px;
        line-height: 24px;

        margin-top: 8px;
    }


    .about_block .data .desc
    {
        font-size: 15px;
        line-height: 23px;

        width: 100%;
    }


    .about_block .data .link
    {
        margin-top: 20px;
    }


    .about_block .presentation
    {
        width: 500px;
        margin-top: 12px;
        margin-right: auto;
        margin-left: auto;
    }

    .about_block .presentation .download_link
    {
        margin-top: -16px;
    }



    /*--------------
        Articles
    --------------*/
    .articles
    {
        margin-bottom: 60px;
    }


    .articles .row > *
    {
        width: calc(50% - 24px);
    }

    .articles .row > *:nth-child(2) ~ *
    {
        display: none;
    }



    /*-------------
        Banners
    -------------*/
    .banners
    {
        margin-bottom: 60px;
    }


    .banners .banner
    {
        height: 192px;
        padding-top: 60px;
        padding-right: 64px;
    }

    .banners .banner .info
    {
        width: 392px;
    }

    .banners .banner .name
    {
        font-size: 28px;
    }

    .banners .banner .price
    {
        font-size: 24px;
    }

    .banners .banner .desc
    {
        font-size: 15px;
        line-height: 23px;

        margin-top: 16px;
    }



    /*--------------
        Products
    --------------*/
    .products
    {
        margin-bottom: 60px;
    }


    .products .row,
    .content .products .row
    {
        margin-bottom: -16px;
        margin-left: -16px;

        --products_count: 3;
    }

    .products .row > *,
    .content .products .row > *
    {
        width: calc(33.333% - 16px);
        margin-bottom: 16px;
        margin-left: 16px;
    }


    .products .product .link
    {
        width: 100%;

        text-align: center;
    }


    .products .product .btns .btn
    {
        display: none;
    }



    /*------------
        Brands
    ------------*/
    .brands
    {
        margin-bottom: 60px;
    }


    .brands .row > *
    {
        width: calc(25% - 24px);
    }

    .brands .row > *:nth-child(4) ~ *
    {
        display: none;
    }



    /*------------
        Why we
    ------------*/
    .why_we
    {
        margin-bottom: 60px;
        padding: 64px 0;
    }


    .why_we .row
    {
        margin-bottom: -32px;
        margin-left: -32px;
    }

    .why_we .row > *
    {
        width: calc(50% - 32px);
        margin-bottom: 32px;
        margin-left: 32px;
    }



    /*-------------
        Experts
    -------------*/
    .experts
    {
        margin-bottom: 64px;
    }

    .experts .row > *
    {
        width: 33.333%;
    }



    /*------------------
        Developments
    ------------------*/
    .developments .row > *
    {
        width: calc(50% - 24px);
    }

    .developments .row > *:nth-child(2) ~ *
    {
        display: none;
    }



    /*---------------
        Geography
    ---------------*/
    .geography
    {
        margin-bottom: 60px;
        padding: 64px 0;
    }



    /*-----------
        Certs
    -----------*/
    .certs .row
    {
        padding-top: 12px;
    }

    .certs .row > *
    {
        width: calc(25% - 24px);
        margin-bottom: 24px;
        margin-left: 24px;
    }



    /*--------------
        Partners
    --------------*/
    .partners
    {
        margin-bottom: 60px;
    }



    /*------------------
        Product info
    ------------------*/
    .product_info
    {
        padding-top: 24px;
    }


    .product_info .head
    {
        margin-bottom: 24px;
    }


    .product_info .breadcrumbs
    {
        width: 100%;
        max-width: 100%;
    }


    .product_info .brand
    {
        margin-top: 20px;
        margin-left: 0;
    }


    .product_info .product_name
    {
        font-size: 36px;
    }


    .product_info .rating,
    .product_info .articul,
    .product_info .btns
    {
        margin-top: 20px;
    }


    .product_info .buy
    {
        padding: 24px;
    }


    .product_info .buy .price
    {
        font-size: 32px;
    }


    .product_info .buy .buy_btn
    {
        padding: 15px 32px 12px;
    }

    .product_info .buy .quike_buy_btn
    {
        margin-top: 3px;
        margin-left: 24px;
    }


    .product_info .pluses
    {
        margin-top: 32px;
    }

    .product_info .pluses > *
    {
        width: calc(50% - 24px);
    }

    .product_info .pluses br
    {
        display: block;
    }



    /*------------------
        Product head
    ------------------*/
    .product_head .name
    {
        font-size: 22px;
    }


    .product_head .anchors
    {
        width: 100%;

        justify-content: space-between;
    }

    .product_head .anchors > * + *
    {
        margin-left: 0;
    }


    .product_head .download_link
    {
        margin-top: 12px;
        margin-left: 0;
    }



    /*----------------------
        Product overview
    ----------------------*/
    .product_overview
    {
        margin-bottom: 60px;
        padding: 80px 0;
    }


    .product_overview .data
    {
        width: 452px;
    }


    .product_overview .title
    {
        font-size: 34px;
    }


    .product_overview .sub_title
    {
        font-size: 21px;
        line-height: 27px;
    }


    .product_overview .desc
    {
        font-size: 15px;
        line-height: 21px;

        margin-top: 32px;
    }



    /*------------------------
        Product advantages
    ------------------------*/
    .product_advantages
    {
        margin-bottom: 60px;
    }


    .product_advantages .row
    {
        display: block;
        overflow: auto;

        width: calc(100% + 48px);
        margin: -24px;
        padding: 24px;

        white-space: nowrap;

        scrollbar-color: transparent transparent !important;
        scrollbar-width: thin !important;
    }

    .product_advantages .row::-webkit-scrollbar
    {
        width: 0 !important;
        height: 0 !important;

        background-color: transparent !important;
    }

    .product_advantages .row::-webkit-scrollbar-thumb
    {
        background-color: transparent !important;
    }


    .product_advantages .row > *
    {
        display: inline-block;

        width: 360px;
        max-width: none;
        margin: 0;

        vertical-align: top;
        white-space: normal;
    }

    .product_advantages .row > * + *
    {
        margin-left: 20px;
    }



    .product_advantages .thumb
    {
        height: 264px;
        margin-bottom: 20px;
    }


    .product_advantages .name
    {
        font-size: 19px;
    }



    /*----------------------
        Product features
    ----------------------*/
    .product_features
    {
        margin-bottom: 60px;
    }



    /*---------------
        Documents
    ---------------*/
    .documents
    {
        margin-bottom: 60px;
    }


    .documents .row
    {
        display: block;
        overflow: auto;

        width: calc(100% + 48px);
        margin: -24px;
        padding: 24px;

        white-space: nowrap;

        scrollbar-color: transparent transparent !important;
        scrollbar-width: thin !important;
    }

    .documents .row::-webkit-scrollbar
    {
        width: 0 !important;
        height: 0 !important;

        background-color: transparent !important;
    }

    .documents .row::-webkit-scrollbar-thumb
    {
        background-color: transparent !important;
    }


    .documents .row > *
    {
        display: inline-block;

        width: 320px;
        max-width: none;
        margin: 0;

        vertical-align: top;
        white-space: normal;
    }

    .documents .row > * + *
    {
        margin-left: 20px;
    }



    /*------------------
        Has question
    ------------------*/
    .has_question .data
    {
        width: 100%;
    }

    .has_question .data .title
    {
        font-size: 28px;
    }


    .has_question .manager
    {
        width: 100%;
        margin-top: 28px;
        padding: 23px 27px;
    }


    .has_question .manager .photo
    {
        width: 150px;
        height: 150px;
    }

    .has_question .manager .photo + div
    {
        width: calc(100% - 182px);

        align-self: center;
    }


    .has_question .manager .contacts
    {
        display: flex;

        justify-content: flex-start;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
    }

    .has_question .manager .contacts > * + *
    {
        margin-top: 0;
        margin-left: 24px;
    }



    /*-----------------------------
        Educational center info
    -----------------------------*/
    .educational_center_info .head .title
    {
        font-size: 34px;
    }

    .educational_center_info .head .sub_title
    {
        font-size: 21px;
        line-height: 27px;
    }

    .educational_center_info .head .desc
    {
        font-size: 15px;
        line-height: 21px;

        width: 100%;
        margin-top: 32px;
    }



    .educational_center_info .links .row
    {
        display: block;
        overflow: auto;

        width: calc(100% + 48px);
        margin: -24px;
        padding: 24px;

        white-space: nowrap;

        scrollbar-color: transparent transparent !important;
        scrollbar-width: thin !important;
    }

    .educational_center_info .links .row::-webkit-scrollbar
    {
        width: 0 !important;
        height: 0 !important;

        background-color: transparent !important;
    }

    .educational_center_info .links .row::-webkit-scrollbar-thumb
    {
        background-color: transparent !important;
    }


    .educational_center_info .links .row > *
    {
        display: inline-block;

        max-width: none;
        margin: 0;

        vertical-align: top;
    }

    .educational_center_info .links .row > * + *
    {
        margin-left: 4px;
    }


    .educational_center_info .links a
    {
        padding: 11px 20px 7px;
    }



    /*----------------------
        Directions study
    ----------------------*/
    .directions_study .thumb
    {
        padding-bottom: 53%;
    }


    .directions_study .data .name
    {
        font-size: 22px;
    }



    /*-------------------
        Services list
    -------------------*/
    .services_list .row > *
    {
        width: calc(50% - 40px);
    }

    .services_list .row > *:last-child
    {
        width: calc(100% - 40px);
    }


    .services_list .service .name
    {
        font-size: 20px;

        min-height: 60px;
    }


    .services_list .service .desc
    {
        line-height: 21px;

        margin-top: 16px;
    }



    /*-------------------
        Contacts info
    -------------------*/
    .contacts_info .head
    {
        padding: 40px 0;
    }


    .contacts_info .head .tabs
    {
        margin-top: 24px;
    }


    .contacts_info .data .company
    {
        font-size: 28px;
    }


    .contacts_info .data .download_link
    {
        line-height: 19px;

        padding: 10px 16px 8px;
    }


    .contacts_info .info > *
    {
        width: calc(50% - 12px);
    }

    .contacts_info .info > *:last-child
    {
        width: 100%;
        margin-top: 32px;
    }



    .contacts_info .info .contacts > *
    {
        display: flex;
    }

    .contacts_info .info .contacts .name
    {
        line-height: 23px;

        width: 92px;
        margin-bottom: 0;
        padding-right: 16px;
    }

    .contacts_info .info .contacts .val
    {
        width: calc(100% - 92px);
    }

    .contacts_info .info .contacts .exp
    {
        font-size: 12px;
        line-height: 16px;

        margin-top: 0;
    }


    .contacts_info .info .location > *
    {
        display: flex;
    }

    .contacts_info .info .location .name
    {
        line-height: 23px;

        width: 144px;
        margin-bottom: 0;
        padding-right: 16px;
    }

    .contacts_info .info .location .val
    {
        width: calc(100% - 144px);
    }

    .contacts_info .info .location .exp
    {
        margin-top: 0;
    }


    .contacts_info .map
    {
        height: 340px;
    }



    /*----------
        Team
    ----------*/
    .team .row > *
    {
        width: calc(50% - 24px);
    }


    .team .person
    {
        padding: 31px;
    }



    /*-------------------------
        Service center info
    -------------------------*/
    .service_center_info .head .title
    {
        font-size: 34px;
    }

    .service_center_info .head .desc
    {
        font-size: 15px;
        line-height: 21px;

        width: 100%;
        margin-top: 32px;
    }

    .service_center_info .head .link
    {
        margin-top: 24px;
    }

    .service_center_info .head .link a
    {
        padding: 13px 20px 9px;
    }



    /*-----------------------------
        Service center services
    -----------------------------*/
    .service_center_services .row
    {
        margin-left: 0;
    }

    .service_center_services .row > *
    {
        width: 100%;
        margin-left: 0;
    }


    .service_center_services .title
    {
        font-size: 24px;
    }



    /*------------------
        Catalog info
    ------------------*/
    .catalog_info .head .title
    {
        font-size: 34px;

        width: 512px;
    }


    .catalog_info .head .desc
    {
        font-size: 15px;
        line-height: 21px;

        width: 100%;
        margin-top: 32px;
    }



    .catalog_info .links .row
    {
        display: block;
        overflow: auto;

        width: calc(100% + 48px);
        margin: -24px;
        padding: 24px;

        white-space: nowrap;

        scrollbar-color: transparent transparent !important;
        scrollbar-width: thin !important;
    }

    .catalog_info .links .row::-webkit-scrollbar
    {
        width: 0 !important;
        height: 0 !important;

        background-color: transparent !important;
    }

    .catalog_info .links .row::-webkit-scrollbar-thumb
    {
        background-color: transparent !important;
    }


    .catalog_info .links .row > *
    {
        display: inline-block;

        max-width: none;
        margin: 0;

        vertical-align: top;
    }

    .catalog_info .links .row > * + *
    {
        margin-left: 4px;
    }


    .catalog_info .links a
    {
        padding: 11px 20px 7px;
    }



    /*----------------
        Brand info
    ----------------*/
    .brand_info
    {
        margin-bottom: 40px;
        padding-top: 32px;
    }


    .brand_info .content_flex + .content_flex
    {
        margin-top: 24px;
    }


    .brand_info .breadcrumbs
    {
        margin-bottom: 32px;
    }


    .brand_info .brand_name
    {
        font-size: 32px;
    }


    .brand_info .logo
    {
        width: 100%;
        padding-left: 0;
    }

    .brand_info .logo img
    {
        max-width: 160px;
        margin: 0;
    }


    .brand_info .desc
    {
        font-size: 20px;
    }


    .brand_info .cert
    {
        padding: 0;
    }


    .brand_info .mob_last
    {
        margin-top: 24px;
        margin-bottom: 0;

        order: 3;
    }



    /*------------------
        Landing head
    ------------------*/
    .landing_head
    {
        padding: 40px 0 60px;
    }


    .landing_head .breadcrumbs
    {
        margin-bottom: 36px;
    }


    .landing_head .title
    {
        font-size: 34px;

        width: 512px;
    }


    .landing_head .categories
    {
        margin-top: 36px;
        margin-bottom: -12px;
        margin-left: -12px;
    }

    .landing_head .categories > *
    {
        width: calc(25% - 12px);
        margin-bottom: 12px;
        margin-left: 12px;
    }


    .landing_head .categories .category
    {
        font-size: 14px;
        line-height: 20px;

        min-height: 80px;
        padding: 16px 32px 16px 16px;
    }


    .landing_head .categories .category .icon
    {
        right: 12px;
        bottom: 12px;
    }



    /*-------------------
        Landing about
    -------------------*/
    .landing_about .data
    {
        width: 100%;
    }


    .landing_about .data .title
    {
        font-size: 28px;

        margin-bottom: 20px;
    }


    .landing_about .manager
    {
        width: 272px;
        margin-top: 28px;
        margin-left: 0;
        padding: 21px;
    }



    /*--------------
        Seo text
    --------------*/
    .seo_text .spoler_btn
    {
        margin-top: 16px;
        margin-left: 0;
    }



    /*------------
        Footer
    ------------*/
    footer .menu
    {
        display: block;

        width: 100%;
        margin-bottom: 24px;

        column-gap: 24px;
        column-count: 4;
    }

    footer .menu > *
    {
        transform: translateZ(0);

        --webkit-column-break-inside: avoid;
        page-break-inside: avoid;
        break-inside: avoid;
    }

    footer .menu > * + *
    {
        margin-top: 12px;
    }


    footer .text
    {
        margin-top: 0;
    }


    footer .phone
    {
        top: 141px;
    }


    footer .typo
    {
        margin-top: 12px;
    }


    footer .socials a + a
    {
        margin-left: 24px;
    }
}
